{% extends "base.html" %}
{% load static %}
{% block extra_css %}

{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<!--Edit Review Content and Form-->
<div id="reviews-container" class="no-floating-footer">
<div class="overlay"></div>
<div class="row">
   <div class="col l8 offset-l2 m10 offset-m1">
      <form method="POST" action="{% url 'edit_review' review.id %}" class="form card-panel">
         <h1 class="center-align">Edit Your Review</h1>
         <p class="large-text center-align">Please fill out the form below to edit own review</p>
         {% csrf_token %}
         {{ form }}
         <div class="center-align">
            <a class="btn center-align" href="{% url 'reviews' %}">Cancel</a>
            <button class="btn center-align" type="submit">Edit Review</button>
         </div>
      </form>
   </div>
</div>
{% endif %}
{% endblock %}